.section {
  margin-top: 5rem;
  background: url('../images/bg-curve-desktop.svg') center/cover no-repeat;
  &-content {
    padding: 4rem 2rem;
    display: grid;
    grid-template-areas:
      'a a . . .'
      'a a . c c'
      'b b . c c'
      'b b . . .';
    column-gap: 1.5rem;
  }
  &-info {
    max-width: 500px;
    margin: 2rem auto 0;
    grid-area: a;
  }
  &-heading {
    margin: 2rem 0 1rem;
    font-size: 2.2rem;
  }
  &-text {
    margin-bottom: 1rem;
    max-width: 500px;
  }
  &-link-container {
    display: flex;
    align-items: center;
  }
  &-link {
    color: $Moderate-cyan;
    border-bottom: 2px solid $Moderate-cyan;
    margin-right: 0.3rem;
    padding-bottom: 0.3rem;
  }
  .card {
    grid-area: b;
    margin: 1rem auto;
    &-content {
      max-width: 450px;
      background: #fff;
      padding: 2rem;
      box-shadow: 1px 1px 10px $Light-Gray;
    }
    &-quotemark {
      margin-bottom: 1rem;
    }
    &-text {
      margin-bottom: 1rem;
    }
    &-img {
      display: flex;
      align-items: center;
      margin-top: 1rem;
    }
    &-photo {
      display: block;
      border-radius: 50%;
      margin-right: 2rem;
    }
  }
  &-img-container {
    grid-area: c;
  }
  &-photo {
    display: block;
    width: 80%;
    margin:2rem auto;
  }
}
