@import 'config';
@import 'header';
@import 'hero';
@import 'section';
@import 'access';
@import 'mobile';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-primary;
  line-height: 1.3;
  color: $Very-Dark-Blue;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
// Global style
.btn {
  background: $Bright-Blue;
  color: $Light-Grayish-Blue;
  border: none;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 0.65rem 3rem;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: opacity 0.4s linear;
  &:hover {
    opacity: 0.7;
  }
}
